<h1>Da Best Places in Cape Town</h1>

<% @places.each do |place| %>
	<p>
	  <p><strong><%= link_to place.name, place_path(place) %></strong></p>
	  <p><%= link_to 'Edit Plekke', edit_place_path(place) %>
	  	<%= link_to 'Delete Plekke', place_path(place), method: :delete, data: {
	  	confirm: "do you want to delete this?"
	  	} %></p>
	</p>
	 
<% end %>

<%= link_to 'New Plekke', new_place_path %>
